<body>
    <h1 style="text-align: center"><u>QUOTES.</u></h1><br>
  <div class="container">
    <div class="row">
      <div *ngFor='let quote of quotes;let i = index' class="col-md-6" id="ngamia"><br>
        <h3>{{quote.name}}</h3>
        <button class="btn btn-primary" (click)='toogleDetails(i)'>⇩</button>

        <div style="float: right" id="number">{{quote.completeDate|dateCount}}</div>

        <h4>
          <app-quote-details *ngIf="quote.showDescription" [quote]='quote' style="color:cyan;"></app-quote-details>
        </h4>
        <like-box></like-box>

      </div>
    </div>



    <div style="text-align: center;">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</body>
